<h1>Edit lead source for <%= @lead_source.incoming_number %></h1>
<div class="row p-3">
  <div class="col-md-9">
    <%= form_for @lead_source do |f| %>
      <div class="form-group row">
        <%= f.label :name, "Name", class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :name, class: "form-control" %>
          <small class="form-text text-muted">E.g. "Downtown billboard"</small>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :forwarding_number, "Forwarding number", class: "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_field :forwarding_number, class: "form-control" %>
          <small class="form-text text-muted">People who call this lead source will be connected with this phone number. Must include international prefix - e.g. +1 555 555 55555</small>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="/" class="btn btn-secondary">Cancel</a>
          <%= f.submit "Update lead source", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
